header {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  background-color: black;
  }

header h1 {
  margin: 0;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  background-color: black;
}
header h2 {
  margin: 0px 0 0 0px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  background-color: #0000006e;
  }
header p {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

nav {
  display: flex;
  justify-content: first baseline;
  background-color: #000000;

}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #575757;
}
.sobre{
display: flex;
padding: 10px 400px 10px 400px;
margin-bottom: 0px;
}
.sobre h2 {
 text-align: center;
 margin: 0px 0px 10px 0px;
}
.sobre p {
     text-align: justify;
     margin: 0 40px 10px 40px;
     }
.sobre img {
 float: left;
 width: 300px;
 height: 400px;
 padding: 10px;
}

.icones {
display: flex;
justify-content: center; 
;}
.icones .icon {
margin: 0 20px;
text-align: center;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
z-index: 2;
text-decoration: none;
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icones .icon span {
display: block;
height: 60px;
width: 60px;
color: #000;
background: #fff;
border-radius: 50%;
position: relative;
z-index: 2;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icones .icon span i {
line-height: 60px;
font-size: 25px;
}
.icones .icon .escrito {
position: absolute;
top: 0;
z-index: 1;
background: #fff;
color: #fff;
padding: 10px 18px;
font-size: 20px;
font-weight: 500;
border-radius: 25px;
opacity: 0;
pointer-events: none;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icones .icon:hover .escrito {
top: -70px;
opacity: 1;
pointer-events: auto;
}
.icon .escrito:before {
position: absolute;
content: "";
height: 15px;
width: 15px;
background: inherit;
left: 50%;
bottom: -6px;
transform: translateX(-50%) rotate(45deg);
}
.icones .icon:hover span {
color: #fff;
}
.icones .icon:hover span,
.icones .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.icones .instagram:hover span,
.icones .instagram:hover .escrito {
background-image: linear-gradient(to right, rgb(255, 0, 4), yellow);
}
.icones .whatsapp:hover span,
.icones .whatsapp:hover .escrito {
background-image: linear-gradient(to right, rgb(0, 255, 8), rgb(0, 159, 11));
}
.icones .linkedin:hover span,
.icones .linkedin:hover .escrito {
background-image: linear-gradient(to right, rgb(4, 8, 236), rgb(6, 113, 155));
}


.alturavideo video {
  width: 100%;
  height: 17vw;
  object-fit: cover;
  box-shadow: 0  0px 10px rgba(0, 0, 0, 0.425), 0 0px 10px rgba(0, 0, 0, 0.1);
}

.skill {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;    
  margin: 30px 0px 0px 0px;
  margin-bottom: 0px;
} 

.container {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.caixa {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}


.caixa h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}


.caixa p {
  font-size: 16px;
  color: #47474798;
  text-justify: inter-word
}
/* Estilos gerais */
.selection {
  padding: 20px;
}

#meusprojetos h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: -60px;
}

#meusprojetos h3 {
  font-size: 18px;
  text-align: center;
  color: #666;
  margin-bottom: -80px;}

.containerdois {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#672abf, #380e74);
}

.card .img1 {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url('Arquivos/1.png');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img2 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('Arquivos/2.png');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img3 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('Arquivos/3.png');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .conteudocard {
    padding: 0px 20px;
    height: 40vh;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .conteudocard {
    height: 50vh;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .conteudocard p {
    margin: 0;
}

.card .conteudocard .title {
    font-size: 20px;
    font-weight: 600;
}

.card .conteudocard .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

footer {
  margin: 50px 0 0 0;
  
  text-align: center;   
}


  @media screen and (max-width: 1020px) {
    /* Ajustando o Header */
    header h1 {
      font-size: 40px;
    }
    header h2 {
      font-size: 30px;
    }
  
    /* Ajustando o layout de navegação */
    nav {
      flex-direction: flex;
      text-align: center;
    }
    nav a {
      padding: 10px 15px;
      font-size: 16px;
          }
  
    /* Ajustando a área "sobre" */
    .sobre {
      padding: 10px;
      flex-direction: column;
    }
    .sobre img {
      width: 100%;
      height: auto;
      padding: 0;
      margin-bottom: 20px;
    }}